body
{
	background: rgb(5, 34, 163);
}

	.login_div1 , .login_div2
	{
		background: rgb(5, 143, 90);
		padding: 10px;
		float: none;
		border-radius: 15px;
	}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: rgba(6, 58, 155, 0.706);
border-radius: 10px;
border-top: 10px solid #175a09;
padding: 10px;
float: none;
text-align: left;
}
